body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Anonymous Pro", monospace;
}

.App {
  text-align: center;
}
body {
  background-color: #333e48;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.App-article {
  max-width: 100%;
  min-height: 100px;
  display: grid;
  margin: 10px;
  padding: 10px;
  gap: 50px 50px;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  align-items: center;
  justify-content: center;
}

.App-graph {
  display: grid;
  margin: 5px;
  padding: 5px;
  gap: 5px 5px;
  grid-template-columns: repeat(auto-fit, minmax(1fr, 0));
  grid-template-areas: "graph value";
}

table {
  text-align: left;
}
td {
  padding: 1px;
}
